/* .InfoWindowWrapper {
  padding: 20px;
  background-color: red;
} */

.contentWrapper {
  display: flex;
  border-radius: 25px;
  align-items: center;
  padding: 10px;
  background-color: #0068c3;
  color: #fff;
  font-weight: bold;
  position: relative;
  /* top: -65px; */
  box-shadow: 10px 0px 40px rgb(0 0 0 / 20%);
  font-size: 15px;

  & > * + * {
  }
}

.contentItem {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 10px;
  }
}

.tail {
  position: absolute;
  width: 15px;
  height: 15px;

  background-color: #0068c3;
  z-index: -1;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  bottom: -5px;
}

.companyIconWrapper {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  & > svg {
    width: 19px;
    height: 19px;
  }
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}
